header
{
    background-image: url(https://wallpaperplay.com/walls/full/8/f/8/87848.jpg);
    background-size: 100%;
    padding:0px;
    margin: 0px;
    
}
#Nombre
{
   padding: 20px 100px 100px 100px;
   margin:  0px;
   text-align: center;
   color: rgb(255, 255, 255);
   font-size: 180%;
   text-shadow: 2px 2px black;
}

#Foto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 140px;
    border-radius: 60%;
}

body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);
}

.contact-info
{
    color: rgb(126, 126, 126);
    margin: 0px;
    text-align: center;
    padding: 50px;
    box-shadow: 1px 1px 5px 3px grey;
}

.project-names
{
    text-align: left;

}

.project-description
{
    text-align: left;
    font-style: italic;
}



.education-info
{
    color: rgb(126, 126, 126);
    margin: 20px;
    text-align: center;
    padding: 10px;

}

.column {
    float: left;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
